body {
    background-image: url(./img/3d92ea48bc0f5b3e95f7fc7718a1ea96.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: aliceblue;
    text-align: center;
    font-style: italic;
}